* {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0px;
  max-width: 1600px;
}
.promo {
    width: 100%;
    background: url(assets/image/bg-image.jpg) center center/cover no-repeat ;
    height: 744px;
}
h1 {
    font-size: 0;
}
header {
    position: relative;
    height: 95px;
   
}
nav {
    height: 95px;
    width: 100%;
    z-index: 2;
    align-items: center;
    display: flex;
}
.menu_link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.8;
    text-decoration: none;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 585px;
    
} 
.logo {
    margin: 0 90px 0 80px;
}
.menu_link_active {
    text-decoration: underline;
}
.life_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 135px;

}
.life_descr {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    width: 504px;
    text-align: center;
    margin: 20px auto;
    color: #FFFFFF;
}
.btn_main {
    width: 184px;
    height: 46px;
    background: #00AFDB;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    color: #FFFFFF;
    }
.btn_main:hover {
    background-color: #009CC2;
}
.social {
    width: 170px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 183px;
}
.social_item {
    align-items: center;
    display: flex; 
    padding-right: 20px;
    
}
.social_item:last-child {
    padding-right: 0px;
}
.social_item.social_item_f {
    margin-top: 6px;
    
}
.reppresent {
    max-height: 842px;
}
.reppresent .container {
    
    display: flex;
    justify-content: space-between;
   
}
.text {
   padding-top: 295px;
   width: 407px;
   text-align: left;
   
}
.text_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #373737;
}
.text_descr {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin: 20px 0 30px 0;
    color: #4E4E4E;

}
.text .btn_main {
    margin-left: 0px;
}
.content {
    padding-top: 120px;
    padding-bottom: 140px;
    width: 407px;
    height: 582px;
}
.community {
    background: #F5F6F7;
    max-height: 504px;
    
}
.text_min {
    justify-content: ;
    align-items: center;
    width: 298px;
    height: 175px;
    text-align: center;
    padding-top: 155px;
}
.text_title_min {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 20px;
}
.text_descr_min {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
    margin-top: 10px;
}
.community {
    min-height: 504px;
   position: relative;
}
.arrow {
    position: absolute;
    top: 82px;
    right: 150px;
    width: 83px;
}

.carousel {
    
    margin-top: 120px;
    min-width: 894px;
    margin-right: 0;
    
}
.carousel img:last-child {
    padding-right: 0;
}
.slider {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
    overflow: hidden;
    
}
.carousel img {
    padding-right: 30px;
}
.content img {
    padding-top: 120px;
    padding-bottom: 140px;
}
.implement .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.implement {
    height: 842px;
}
.newsletter {
    background:url(assets/image/5.jpg) center center/cover no-repeat ;
}